# ChainCacao - Network Environment Variables
COMPOSE_PROJECT_NAME=chaincacao

# Image Versions
FABRIC_VERSION=2.5
FABRIC_CA_VERSION=1.5
COUCHDB_VERSION=3.1.1

# Database Credentials
COUCHDB_USER=admin
COUCHDB_PASSWORD=remplacer_par_password_couchdb

# CA Credentials
CA_ADMIN_NAME=admin
CA_ADMIN_PASSWORD=remplacer_par_password_ca

# Identity Secrets
ORG_ADMIN_PASSWORD=remplacer_par_password_org_admin
PEER_PASSWORD=remplacer_par_password_peer
ORDERER_PASSWORD=remplacer_par_password_orderer

# Common Configuration
FABRIC_LOGGING_SPEC=INFO
CORE_PEER_TLS_ENABLED=true
