# Configuration de la Gateway Hyperledger Fabric
PORT=3000
PEER_ENDPOINT=localhost:7051
PEER_HOST_ALIAS=peer0.producteurs.chaincacao.com
CHANNEL_NAME=chaincacaochannel
CHAINCODE_NAME=chaincacao

# Chemins (Optionnel si relatif)
ORGS_ROOT=../organizations
CA_ADMIN_PASS=remplacer_par_password_ca
